.skills-container {
    position: relative;
    /* float: right; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    letter-spacing: 4px;
    width: 100%;
    /* margin: 0 auto; */
    /* padding: 10%; */
    color:  rgb(255, 255, 255);  
}
      
.skills-heading {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5rem;
    margin: 8rem 5rem 3rem 5rem;

}
.skills-title {
    text-align: center;
    margin: 0rem 5rem 1rem 5rem;
    font-weight:600;

}
.skills-text {
    text-align: center;
    margin: 0rem 5rem 3rem 5rem;
    font-weight:600;

}