.Navbar {
    overflow: hidden;
    float: right;
    margin: .6rem 3rem .6rem 0;
    
}

.links {
    display: right;
    color: #f2f2f2;
    background: hidden;
    align-self: right;
    margin: 0 0 0 0;
    padding: 1.2rem;
    text-decoration: none;
    font-size: 1.7rem;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.6);
}